.header {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @media (max-width: 1024px) {
    min-height: 80px;
    gap: 10px;

  }

  @media (max-width: 480px) {
    background-color: var(--color-white);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 0 16px;
    min-height: 64px;
    gap: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.containerItemMenu,
.containerLang {
  display: flex;
  gap: 8px;
}

.containerLang {
  min-width: 50px;
}

.logo {
  max-width: 257px;
  width: 100%;

  @media (max-width: 1024px) {
    max-width: 170px;
  }

  @media (max-width: 480px) {
    max-width: 151px;
  }
}

.nav {
  max-width: 699px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 70px;
  gap: 20px;

  @media (max-width: 1024px) {
    margin-right: 10px;
    max-width: 600px;
    gap: 10px;
  }

  @media (max-width: 768px) {
    justify-content: end;
  }
}

.menu {
  max-width: 610px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    display: none;
  }
}

.mark {
  margin-top: 8px;
  width: 9px;
  height: 9px;
}
