$border-radius: 30px;

$primary-color-1: #c1dcf7;
$primary-color-2: #155ba1;
$primary-color-3: #0060a4;
$primary-color-4: #004884;

$primary-color-dark: #155ba1;
$primary-color-extra-light: #34aae7;
$primary-color-ligth: #c1dcf7;
$primary-color-pale: #e2eefa;

$color-white: #ffffff;
$color-gray-ligth: #cfd3d6;

$secondary-color-1: #ecedee;

$color-black: #182641;

// $secondary-color: #155ba1;
$text-color: #352f36;

:root {
  --border-radius: #{$border-radius};
  --color-white: #{$color-white};
  --color-black: #{$color-black};

  --primary-color-1: #{$primary-color-1};
  --primary-color-2: #{$primary-color-2};
  --primary-color-3: #{$primary-color-3};
  --primary-color-4: #{$primary-color-4};
  --secondary-color-1: #{$secondary-color-1};

  --color-gray-ligth: #{$color-gray-ligth};
  --primary-color-ligth: #{$primary-color-ligth};
  --primary-color-extra-light: #{$primary-color-extra-light};
  --primary-color-pale: #{$primary-color-pale};
  --primary-color-dark: #{$primary-color-dark};

  --text-color: #{$text-color};
}
