.container {
  display: flex;
}

.link {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 115%;
  color: var(--color-gray-ligth);
  font-size: 1.25rem;
  width: 100%;

  @media (max-width: 480px) {
    text-align: center;
    // font-size: 1.125rem;
  }
}
